<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--页眉-->
<head>
    <meta charset="UTF-8">

    <!-- Remove this line if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta name="description" content="Designa Studio, a HTML5 / CSS3 template.">
    <meta name="author" content="Sylvain Lafitte, Web Designer, sylvainlafitte.com">

    <title>VCF Server</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="<%=static_dir%>/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <script src="<%=static_dir%>/js/angular.min.js"></script>
    <script src="<%=static_dir%>/js/jquery-3.2.1.min.js"></script>
    <script src="<%=static_dir%>/js/jquery.form.js"></script>
    <script src="<%=static_dir%>/js/jquery.validate.min.js"></script>


    <!-- dynatree -->
    <script src="<%=static_dir%>/js/dynatree/jquery/jquery-ui.custom.js"></script>
    <script src="<%=static_dir%>/js/dynatree/jquery/jquery.cookie.js"></script>
    <link href="<%=static_dir%>/js/dynatree/src/skin/ui.dynatree.css" rel="stylesheet" type="text/css">
    <script src="<%=static_dir%>/js/dynatree/src/jquery.dynatree.js"></script>


    <!--bootstrap-->
    <script src="<%=static_dir%>/bootstrap-3.3.5-dist/js/bootstrap.js"></script>

    <!--bootstrap-table-->
    <script src="<%=static_dir%>/bootstrap-table-1.11.1-dist/bootstrap-table.js"></script>
    <link rel="stylesheet" href="<%=static_dir%>/bootstrap-table-1.11.1-dist/bootstrap-table.css"/>

    <!--select2 deals with the search box-->
    <link href="<%=static_dir%>/js/select2-4.0.3/dist/css/select2.min.css" rel="stylesheet" />
    <script src="<%=static_dir%>/js/select2-4.0.3/dist/js/select2.full.min.js"></script>
    <script src="<%=static_dir%>/js/select2-4.0.3/dist/js/i18n/zh-CN.js"></script>
    <link rel="stylesheet" href="<%=static_dir%>/css/style1.css">
    <link rel="stylesheet" href="<%=static_dir%>/css/myStyle.css">
    <!--[if lt IE 9]>
    <script src="<%=static_dir%>/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="contentSignUp">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#bodySignIn" id='tab-signIn' data-toggle="tab"><% if (lan == 'eng') { %>Sign in<% } else { %>登录<% } %></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="modal-body tab-pane active" id="bodySignIn">
                    <!--<form id="loginForm" action="signIn" method="post" onsubmit="checkSignIn(this)">-->
                    <form id="loginForm" action="/signIn" method="post">
                        <div class="row">
                            <label class="col-md-6" for="loginname" ><% if (lan == 'eng') { %>User name: <% } else { %>用户名：<% } %>
                                <input id="loginname" name="loginname" type="text">
                            </label>
                            <label class="col-md-6" for="loginpassword"><% if (lan == 'eng') { %>Password: <% } else { %>密码：<% } %>
                                <input id="loginpassword" name="loginpassword" type="password">
                            </label>
                        </div>
                        <div class="row">
                            <label class="col-md-6"></label>
                            <label class="col-md-6">
                                <button class="btn btn-default pull-right" type="submit"><% if (lan == 'eng') { %>Login<% } else { %>登录<% } %></button>
                            </label>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div><!-- /.modal -->
</div>

<script>
    var eng = '<%-lan%>' == 'eng' ? 1 : 0;

    //显示登录模态窗
    function signInOrUp(){
        $('#loginModal').modal('show');
    }

    //验证登录并发送
    function checkSignIn(form) {
        $(form).ajaxSubmit({
        async: false,
        complete: function (XHR, TS){
            if (XHR.responseText === 'success'){
                window.location.href = '/index';
            }
            else if (XHR.responseText === 'exist'){
                alert('用户名或密码错误！');
                $('#loginpassword').val('');

            }
        }
    });
        return false;
    }


    //jquery 表单验证
    $(function () {
        $('#loginForm').validate({
            onfocusout:false,
            rules: {
                loginname: {
                    required: true,
                    minlength: 3
                },
                loginpassword: {
                    required: true,
                    minlength: 3,
                    maxlength: 16
                }},
                messages: {
                    loginname: {
                        required: "用户名不能为空",
                        minlength: "用户名的最小长度为3",
                    },
                    loginpassword: {
                        required: "密码不能为空",
                        minlength: "密码长度不能少于3个字符",
                        maxlength: "密码长度不能超过16个字符"

                    }
                },
                submitHandler: function (form) {
                    checkSignIn(form);
                },

        });
    });

    function loginout()
    {
        var api = '/signOut';
        $.ajax({
            url: api,
            type: 'get',
            async: false,
            success: function (data) {
                if (data.res == 1) {
                    window.location.reload();
                }
            }
        });
    }
</script>
    <!-- Prompt IE 7 users to install Chrome Frame -->
    <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader" style="display: none;"></div>

    <!-- Main Header-->
    <header class="main-header">
        <div class="header-top">
            <div class="auto-container clearfix">
                <!--Top Left-->
                <div class="top-left pull-left">
                </div>

                <!--Top Right-->
                <div class="top-right pull-right">
                    <!--Links Nav-->
                    <ul class="links-nav">
                        <li><% if (userName != '') {%>
                            <a href="#">
                                <!--<% if (lan == 'eng') { %>My centre<% } else { %>个人中心<% } %>-->
                                <%-userName%>
                            </a>
                            <a href="javascript:loginout()">
                                <% if (lan == 'eng') { %>Sign Out<% } else { %>退出登陆<% } %>
                            </a>
                            <% } else { %>
                            <a href="javascript:void(0);" onclick="signInOrUp();">
                                <% if (lan == 'eng') { %>Sign in<% } else { %>登录<% } %>
                            </a>
                            <% } %></li>
                            <li><% if (lan == 'eng') { %>
                            <a href="/index?lan=chs">
                                中文
                            </a>
                            <% } else { %>
                            <a href="/index?lan=eng">
                                English
                            </a>
                            <% } %></li>

                    </ul>
                </div>
            </div>
        </div>

        <!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">
                    <div class="pull-left logo-outer" >
                        <div class="logo"><a href="/index"> <img alt="GPS" src="<%=static_dir%>/img/logo.png"/></a></div>

                    </div>
                    <div class="pull-left logo-outer" >
                        <div class="logo"><a href="http://www.sjtu.edu.cn"> <img alt="SJTU" src="<%=static_dir%>/img/logo-sjtu.png"/></a></div>

                    </div>
                    <div class="pull-left logo-outer" >
                        <div class="logo"><a href="http://publichealth.yale.edu/people/biostat.aspx"> <img alt="Yale" src="<%=static_dir%>/img/logo-yale.png"/></a></div>

                    </div>
                    <div class="pull-left logo-outer" >
                        <div class="logo"><a href="http://www.shchildren.com.cn/"> <img alt="SCH" src="<%=static_dir%>/img/logo-sch.png"/></a></div>

                    </div>


                    <div class="pull-right upper-right clearfix">
                    </div>
                </div>
            </div>
        </div>




    </header>
    <!--End Main Header -->

    <div class="auto-container clearfix">
        <div class="main">
<!--End pagewrapper-->