<% include ./header2.ejs %>
<!--个人中心页-->
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {

    });
</script>
<% if (requests.length > 0) { %>
<h3><%-lan=='eng'?'Requests you have received: ' : '您接受到的查看病例申请：'%></h3>
<table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
    <tr role="row">
        <th class="col-md-3">
            <% if (lan == 'eng') { %>Case<% } else { %>病例<% } %>
        </th>
        <th class="col-md-3" title="<% if (lan == 'eng') { %>User name of the sender<% } else { %>发送申请的用户名<% } %>">
            <% if (lan == 'eng') { %>Sender<% } else { %>发送者<% } %>
        </th>
        <th class="col-md-3">
            <% if (lan == 'eng') { %>Status<% } else { %>状态<% } %>
        </th>
        <th class="col-md-3" title="<% if (lan == 'eng') { %>Approve this application<% } else { %>审批该申请<% } %>">
            <% if (lan == 'eng') { %>Operation<% } else { %>操作<% } %>
        </th>
    </tr>
    </thead>
    <tbody id="tableBody">
    <% for (var i = 0;i < requests.length;i++) { %>
    <tr role="row" class="color-palette">
        <td><a target="_blank" href="/watch_case/<%-requests[i].case%>"><%-requests[i].case%></a></td>
        <td><%-requests[i].requester%></td>
        <% if (requests[i].status == 'pending') { %>
        <td><% if (lan == 'eng') { %>Pending<% } else { %>待审批<% } %></td>
        <td>
            <a href="javascript: void(0);" onclick="approveRequest(true, '<%-requests[i].id%>', '<%-requests[i].requester%>')">
                <% if (lan == 'eng') { %>Accept<% } else { %>通过<% } %>
            </a>
            <a href="javascript: void(0);" onclick="approveRequest(false, '<%-requests[i].id%>', '<%-requests[i].requester%>')">
                <% if (lan == 'eng') { %>Reject<% } else { %>拒绝<% } %>
            </a>
        </td>
        <% } else if (requests[i].status == 'accepted') { %>
        <td><% if (lan == 'eng') { %>Accepted<% } else { %>已通过<% } %></td>
        <td></td>
        <% } else if (requests[i].status == 'rejected') { %>
        <td><% if (lan == 'eng') { %>Rejected<% } else { %>已拒绝<% } %></td>
        <td></td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
</table>

<% } else { %>
<h3><%-lan == 'eng' ? 'You have not received any application yet.' : '您目前没有接收到查看病例申请。'%></h3>
<% } %>

<% if (requestsSent.length > 0) { %>
<h3><%-lan=='eng'?'Requests you have sent: ' : '您发送的查看病例申请：'%></h3>
<table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
    <tr role="row">
        <th class="col-md-6">
            <% if (lan == 'eng') { %>Case<% } else { %>病例<% } %>
        </th>
        <th class="col-md-6">
            <% if (lan == 'eng') { %>Status<% } else { %>状态<% } %>
        </th>
    </tr>
    </thead>
    <tbody id="tableBody">
    <% for (var i = 0;i < requestsSent.length;i++) { %>
    <tr role="row" class="color-palette">
        <td><a target="_blank" href="/watch_case/<%-requestsSent[i].case%>"><%-requestsSent[i].case%></a></td>
        <% if (requestsSent[i].status == 'pending') { %>
        <td><% if (lan == 'eng') { %>Pending<% } else { %>待审批<% } %></td>
        <% } else if (requestsSent[i].status == 'accepted') { %>
        <td><% if (lan == 'eng') { %>Accepted<% } else { %>已通过<% } %></td>
        <% } else if (requestsSent[i].status == 'rejected') { %>
        <td><% if (lan == 'eng') { %>Rejected<% } else { %>已拒绝<% } %></td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
</table>
<% } else { %>
<h3><%-lan == 'eng' ? 'You have not sent any application yet.' : '您目前没有发送过查看病例申请。'%></h3>
<% } %>

<% if (cases.length > 0) { %>
<h3><%-lan=='eng'?'Your cases':'您管理的病例'%>（<a href="new_case"><%-lan=='eng'?'Add a new case':'新建病例'%></a>）：</h3>
<table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
    <tr role="row">
        <th class="col-md-4">
            <% if (lan == 'eng') { %>Case ID<% } else { %>病例ID<% } %>
        </th>
        <th class="col-md-4" title="<% if (lan == 'eng') { %>Whether the case is public or private<% } else { %>病例的公开或私有状态<% } %>">
            <% if (lan == 'eng') { %>Permission<% } else { %>权限状态<% } %>
        </th>
        <th class="col-md-4" title="<% if (lan == 'eng') { %>Change the permission of the case<% } else { %>改变病例的权限状态<% } %>">
            <% if (lan == 'eng') { %>Operation<% } else { %>操作<% } %>
        </th>
    </tr>
    </thead>
    <tbody id="tableBody">
    <% for (i = 0;i < cases.length;i++) { %>
    <tr role="row" class="color-palette">
        <td><a target="_blank" href="/watch_case/<%-cases[i].id%>"><%-cases[i].id%></a></td>
        <% if (cases[i].View == 'private') { %>
        <td><% if (lan == 'eng') { %>Private<% } else { %>私有的<% } %></td>
        <td>
            <a href="javascript: void(0);" onclick="changePermission('public', '<%-cases[i].id%>')">
                <% if (lan == 'eng') { %>Switch to public<% } else { %>转为公开<% } %>
            </a>
        </td>
        <% } else { %>
        <td><% if (lan == 'eng') { %>Public<% } else { %>公开的<% } %></td>
        <td>
            <a href="javascript: void(0);" onclick="changePermission('private', '<%-cases[i].id%>')">
                <% if (lan == 'eng') { %>Switch to private<% } else { %>转为私有<% } %>
            </a>
        </td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
</table>

<% } else { %>
<h3><a href="new_case"><%-lan=='eng'?'Add a new case':'新建病例'%></a></h3>
<% } %>

<script>
    //根据isAccept的值，允许或拒绝某个查看病例请求
    function approveRequest(isAccept, id, requester){
        if (confirm("您确认要" +
                (isAccept ? "允许" : "拒绝") +
                "\""+requester+"\"查看此病例吗？")) {
            $.ajax({
                url: "/approve_request",
                data: {
                    id: id,
                    isAccept: isAccept
                },
                type: 'POST',
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("网络连接异常");
                }
            });
        }
    }
    //转换某个病例的权限
    function changePermission(permission, id){
        if (confirm("您确认要将病例"+id+"的浏览权限转换为" +
                (permission == 'private' ? '私有' : '公开') +
                "吗？")) {
            $.ajax({
                url: "/change_permission",
                data: {
                    id: id,
                    permission: permission
                },
                type: 'POST',
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("网络连接异常");
                }
            });
        }
    }
</script>

<% if (searches.length > 0) { %>
<h3><%-lan=='eng'?'Recent search history':'最近的搜索记录：'%></h3>
<table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
    <tr role="row">
        <th class="col-md-4">
            <% if (lan == 'eng') { %>Time<% } else { %>时间<% } %>
        </th>
        <th class="col-md-4">
            <% if (lan == 'eng') { %>Phenotype<% } else { %>症状<% } %>
        </th>
        <th class="col-md-4">
            <% if (lan == 'eng') { %>Operation<% } else { %>操作<% } %>
        </th>
    </tr>
    </thead>
    <tbody>
    <% for (i = 0;i < searches.length;i++) { %>
    <tr role="row" class="color-palette">
        <td><%-searches[i].date.split('GMT')[0]%></td>
        <td>
            <% for (var j = 0;j < searches[i].searchedString.length;j++) { %>
            <%-searches[i].searchedString[j][1]%>&nbsp;
            <% } %>
        </td>
        <td>
            <a href="/list?<% for (j = 0;j < searches[i].searchedString.length;j++) {%><%-'HPO='+searches[i].searchedString[j][0]+'$'+searches[i].searchedString[j][1]+'&'%><% } %>">
                <% if (lan == 'eng') { %>Search again<% } else { %>重新搜索<% } %>
            </a>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
<% } else { %>
<h3><%-lan=='eng'?'You have not searched yet':'您还没有进行过搜索'%></h3>
<% } %>
<% include ./footer2.ejs %>