<% include ./header2.ejs %>
<!--新建病例页-->

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.chroms = [];
        $scope.genes = [];

        //新增染色体项
        $scope.addChrom = function () {
            if ($scope.patient == undefined || $scope.chromosome == undefined || $scope.chromosomeArm == undefined
                || $scope.location == undefined || $scope.location == '' || $scope.variationType == undefined){
                return alert('请输入完整的染色体数据！');
            }
            var newChrom = {
                Patient: $scope.patient,
                Chrom: $scope.chromosome,
                Arm: $scope.chromosomeArm,
                Pos: $scope.location,
                Type: $scope.variationType
            };
            $scope.chroms.push(newChrom);
            $scope.chromsInput = JSON.stringify($scope.chroms);
        };
        //删除染色体项
        $scope.deleteChrom = function (chrom) {
            $scope.chroms.splice($scope.chroms.indexOf(chrom), 1);
            $scope.chromsInput = JSON.stringify($scope.chroms);
        }
        //新增基因项
        $scope.addGene = function () {
            if ($scope.gene == undefined || $scope.gene == ''){
                return alert('请输入基因名！');
            }
            var newGene = {
                Patient: $scope.genePatient,
                Gene: $scope.gene
            };
            $scope.genes.push(newGene);
            $scope.genesInput = JSON.stringify($scope.genes);
        };
        //删除基因项
        $scope.deleteGene = function (gene) {
            $scope.genes.splice($scope.genes.indexOf(gene), 1);
            $scope.genesInput = JSON.stringify($scope.genes);
        }
    });
</script>

<div class="row">
    <form class="form-horizontal col-sm-12" method="post" action="add_case" onsubmit="return newCase(this);">
        <script type="text/javascript">
                $(document).ready(function() {
                    var url = "/api/Select";
                    $("#sel_menu2").select2({
                        multiple:true,
                        placeholder: eng == 1 ? 'Please enter phenotype name or ID' : '请输入症状名或症状ID',
                        ajax:
                            {
                                url:url,
                                dataType: 'json',
                                delay: 600,
                                contentType:"application/x-www-form-urlencoded;charset=UTF-8",
                                data: function (params){
                                    return {
                                        query: params.term, // search term
                                    };
                                },
                                processResults: function (data, page)
                                {
                                    return{
                                        results: data.items
                                    };
                                },
                                cache:true
                            },
                        escapeMarkup: function (markup)
                        {
                            //console.debug(markup)
                            return markup;
                        }, // let our custom formatter work
                        minimumInputLength: 2,
                        formatInputTooShort:  eng == 1 ? 'Please enter at least 2 characters' : "请输入至少2个字符以进行检索",
                        //maximumInputLength: 40,
                        templateResult:formatRepo,
                        templateSelection:formatRepoSelection
                    });
                });
                function formatRepo(repo)
                {
                    if (repo.loading) return repo.text;
                    repo.text = repo.name;
                    var markup = '<option class="select2-option-click" value="'+repo.text+'">'+ repo.id+'|'+repo.text+'</option>';
                    repo.id = repo.text;
                    return markup;
                }

                function formatRepoSelection(repo){
                    repo.selected = true;
                    repo.value = repo.name;
                    repo.name = repo.text;
                    if(repo.id == null || repo.name == ""){
                        repo.id = 'Please type items'
                        repo.name = repo.text
                    }
                    return repo.text;
                }
            </script>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Permission':'浏览权限'%>*</label>
                <div class="col-sm-8">
                    <select name="View" class="form-control">
                        <option value="public" selected><%-lan=='eng'?'public':'公开的'%></option>
                        <option value="private"><%-lan=='eng'?'private':'私有的'%></option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Sex':'性别'%>*</label>
                <div class="col-sm-8">
                    <select name="Sex" class="form-control">
                        <option value="男" selected><%-lan=='eng'?'Male':'男'%></option>
                        <option value="女"><%-lan=='eng'?'Female':'女'%></option>
                        <option value="其他"><%-lan=='eng'?'Other':'其他'%></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Source hospital':'来源医院'%>*</label>
                <div class="col-sm-8">
                    <select name="CaseOrigin" class="form-control">
                        <option value="上海市儿童医院" selected>上海市儿童医院</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Picture':'图片'%>(<2MB)</label>
                <div class="col-sm-8">
                    <input type="file" name="pic" id="casePicture">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Patient Name':'患者名字'%></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="PatientName">
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Picture type':'图片类型'%></label>
                <div class="col-sm-8">
                    <select name="PictureTag" class="form-control">
                        <option value="" selected>无</option>
                        <option value="医嘱">医嘱</option>
                        <option value="照片">照片</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Patient Age':'患者年龄'%></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="Age">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Phenotype':'表型异常'%></label>
                <div class="col-sm-8">
                    <select id="sel_menu2" name="Phenotype" multiple="multiple" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Disease':'相关疾病'%></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="Disease">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Comment':'备注'%></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="Comment">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Chromosome':'染色体'%></label>
                <div class="col-sm-8">
                    <select ng-model="patient" class="form-control">
                        <option value="self"><% if (lan == 'eng') { %>Self<% } else { %>本人<% } %></option>
                        <option value="father"><% if (lan == 'eng') { %>Father<% } else { %>父亲<% } %></option>
                        <option value="mother"><% if (lan == 'eng') { %>Mother<% } else { %>母亲<% } %></option>
                        <option value="grandfather"><% if (lan == 'eng') { %>Grandfather<% } else { %>祖父<% } %></option>
                        <option value="grandmother"><% if (lan == 'eng') { %>Grandmother<% } else { %>祖母<% } %></option>
                    </select>
                    <select ng-model="variationType" class="form-control">
                        <option value="gain"><% if (lan == 'eng') { %>insertion<% } else { %>插入<% } %></option>
                        <option value="loss"><% if (lan == 'eng') { %>deletion<% } else { %>缺失<% } %></option>
                    </select>
                    <select ng-model="chromosome" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="X">X</option>
                        <option value="Y">Y</option>
                    </select>
                    <select ng-model="chromosomeArm" class="form-control">
                        <option value="p">p</option>
                        <option value="q">q</option>
                    </select>
                    <input ng-model="location" placeholder="<%-lan=='eng'?'Location':'位置'%>" class="form-control">
                </div>
                <button type="button" ng-click="addChrom()" class="pull-right btn btn-info" style="margin: 15px;"><%-lan=='eng'?'Add':'添加'%></button>
                <input type="hidden" ng-value="chromsInput" name="chromsInput">


            </div>
            <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label"><%-lan=='eng'?'Gene':'基因'%></label>
                <div class="col-sm-8">
                    <select ng-model="genePatient" class="form-control">
                        <option value="self"><% if (lan == 'eng') { %>Self<% } else { %>本人<% } %></option>
                        <option value="father"><% if (lan == 'eng') { %>Father<% } else { %>父亲<% } %></option>
                        <option value="mother"><% if (lan == 'eng') { %>Mother<% } else { %>母亲<% } %></option>
                        <option value="grandfather"><% if (lan == 'eng') { %>Grandfather<% } else { %>祖父<% } %></option>
                        <option value="grandmother"><% if (lan == 'eng') { %>Grandmother<% } else { %>祖母<% } %></option>
                    </select>
                    <input ng-model="gene" placeholder="<%-lan=='eng'?'Gene name':'基因名'%>" class="form-control">
                </div>
                <button type="button" ng-click="addGene()" class="pull-right btn btn-info" style="margin: 15px;"><%-lan=='eng'?'Add':'添加'%></button>
                <input type="hidden" ng-value="genesInput" name="genesInput">

            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
            <table class="table table-bordered table-striped dataTable col-md-6" role="grid" ng-if="chroms.length > 0">
                <thead>
                <tr role="row">
                    <th class="col-md-8">
                        <% if (lan == 'eng') { %>Chromosome Info<% } else { %>染色体信息<% } %>
                    </th>
                    <th class="col-md-4" title="<% if (lan == 'eng') { %>Do something to this entry<% } else { %>对该条目进行操作<% } %>">
                        <% if (lan == 'eng') { %>Operation<% } else { %>操作<% } %>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="color-palette" ng-repeat="chrom in chroms">
                    <td>{{ chrom.Patient + ' ' + chrom.Chrom + chrom.Arm + chrom.Pos + ' ' + chrom.Type }}</td>
                    <td><a href="javascript:void(0)" ng-click="deleteChrom(chrom)">删除</a></td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="col-md-6">
            <table class="table table-bordered table-striped dataTable col-md-6" role="grid" ng-if="genes.length > 0">
                <thead>
                <tr role="row">
                    <th class="col-md-8" >
                        <% if (lan == 'eng') { %>Gene name<% } else { %>基因名<% } %>
                    </th>
                    <th class="col-md-4" title="<% if (lan == 'eng') { %>Do something to this entry<% } else { %>对该条目进行操作<% } %>">
                        <% if (lan == 'eng') { %>Operation<% } else { %>操作<% } %>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="color-palette" ng-repeat="gene in genes">
                    <td>{{ gene.Patient + ' ' + gene.Gene }}</td>
                    <td><a href="javascript:void(0)" ng-click="deleteGene(gene)">删除</a></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="row">
            <hr>
            <div class="form-group col-sm-12">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary"><%-lan=='eng'?'Submit':'提 交'%></button>
                </div>
            </div>
        </div>
    </form>
    <script>
        function newCase(form) {
            //图片验证和表单发送
            var pictureFile = $('#casePicture')[0].files[0];
            if (pictureFile != undefined && pictureFile.size > 2 * 1024 * 1024){
                alert('抱歉，上传的图片不得大于2MB，请修改');
                return false;
            }
            $(form).ajaxSubmit({
                async: false,
                complete: function (XHR, TS){
                    if (XHR.responseText == 'success'){
                        alert('新建病例成功');
                        window.location.href = '/my_request';
                    }
                    else if (XHR.responseText == 'error'){
                        alert('病例创建失败');
                    }
                    else {
                        alert('网络连接异常');
                    }
                }
            });
            return false;
        }
    </script>
</div>

<% include ./footer2.ejs %>