<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--疾病详情页-->
<head>
    <meta charset="UTF-8">

    <!-- Remove this line if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta name="description" content="Designa Studio, a HTML5 / CSS3 template.">
    <meta name="author" content="Sylvain Lafitte, Web Designer, sylvainlafitte.com">

    <title>Genotype Phenotype Search</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <link rel="stylesheet" href="<%=static_dir%>/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>


    <!--bootstrap-->
    <script src="<%=static_dir%>/bootstrap-3.3.5-dist/js/bootstrap.js"></script>



    <link rel="stylesheet" href="<%=static_dir%>/css/style.css">
    <link rel="stylesheet" href="<%=static_dir%>/css/myStyle.css">

    <!--[if lt IE 9]>
    <script src="<%=static_dir%>/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
<!-- Prompt IE 7 users to install Chrome Frame -->
<!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="my-brand" href="#">
                <p id="mydoc-title"><% if (lan == 'eng') { %>Disease<% } else { %>疾病<% } %> OMIM:<%-diseaseID%></p>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index"><% if (lan == 'eng') { %>Home page<% } else { %>返回首页<% } %></a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="home-page main">
        <script>
            var eng = '<%-lan%>' == 'eng' ? 1 : 0;
            //取URL参数的辅助函数

            $(document).ready(function() {
                //注册模态框打开和关闭事件
                var disID = '<%-diseaseID%>';
                var url = "/api/DiseaseInfo";
                //获取疾病数据以及症状联系
                $.ajax({
                    type: 'GET',
                    url: url,
                    data:{disID:disID},
                    success: function (data) {
                        var raw = data;
                        buildRelation(raw.Remains);
                        buildDetail(raw.Name, raw.Description, raw.Genes);
                    },
                    error: function () {
                        //$diseaseList.html('<a href="/index">网络连接异常，点击返回搜索页</a>');
                    }
                });

            })
        </script>
        <div class="row row-disease">
            <div class="col-md-6">
                <script>
                    var matchedPheno = [];
                    //构造症状关系表
                    function buildRelation(remain){
                        $('#table-phenotype').show();
                        //列出未匹配的症状
                        $('#table-tip').html(eng == 1 ? 'Phenotypes of this disease: ' : '该疾病的症状：');
                        var remainHtml = '';
                        for (i = 0;i < remain.length;i++){
                            remainHtml += '<span class="badge badge-phenotype">'+remain[i].phenotype+'</span>&nbsp;';
                        }
                        $('#symptoms-other').html(remainHtml);
                    }
                </script>
                <label id="table-tip">
                    <% if (lan == 'eng') { %>Loading disease data, please wait...<% } else { %>疾病信息加载中，请稍候……<% } %>
                </label>
                <div id="symptoms-other">
                </div>
            </div>
            <!--病例信息-->
            <script>
                function buildDetail(name, description, genes) {
                    var $title = $('<div class="detail-title">'+name+'</div>');
                    var $description = $('<div class="detail-description">'+description+'</div>');
                    var $genes = $('<div class="detail-genes"></div>');
                    if (genes.length > 0) {
                        var geneHTML = '<b>Gene(cytoband): </b>';
                        for (var i = 0; i < genes.length; i++) {
                            geneHTML += '<a target="_blank" href="/gene/'+genes[i].gene+'">' + genes[i].gene + '(' + genes[i].cytoband + '); </a>';
                        }
                        $genes.html(geneHTML);
                    }
                    var $block = $('#description-block');
                    $block.append($title);
                    $block.append($description);
                    $block.append($genes);
                }
            </script>
            <div id="description-block" class="col-md-6">

            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>