<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--疾病详情页-->
<head>
    <meta charset="UTF-8">

    <!-- Remove this line if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta name="description" content="Designa Studio, a HTML5 / CSS3 template.">
    <meta name="author" content="Sylvain Lafitte, Web Designer, sylvainlafitte.com">

    <title>Genotype Phenotype Search</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!--cytoscape样式-->
    <link rel="stylesheet" href="<%=static_dir%>/js/cytoscape/biogrid_jquery.qtip.css"/>
    <link rel="stylesheet" href="<%=static_dir%>/js/cytoscape/jquery.qtip.min.css"/>
    <link rel="stylesheet" href="<%=static_dir%>/js/cytoscape/network.css"/>
    <link rel="stylesheet" href="<%=static_dir%>/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>

    <script src="<%=static_dir%>/bootstrap-3.3.5-dist/js/bootstrap.js"></script>



    <link rel="stylesheet" href="<%=static_dir%>/css/style.css">
    <link rel="stylesheet" href="<%=static_dir%>/css/myStyle.css">

    <!--[if lt IE 9]>
    <script src="<%=static_dir%>/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--cytoscape JS-->
    <script src="<%=static_dir%>/js/cytoscape/cola.v3.min.js"></script>
    <script src="<%=static_dir%>/js/cytoscape/cytoscape.min.js"></script>
    <script src="<%=static_dir%>/js/cytoscape/jquery.qtip.min.js"></script>
    <script src="<%=static_dir%>/js/cytoscape/cytoscape-qtip.js"></script>
    <script src="<%=static_dir%>/js/cytoscape/cytoscape-cola.js"></script>
</head>

<body>
<!-- Prompt IE 7 users to install Chrome Frame -->
<!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="my-brand" href="#">
                <p id="mydoc-title"><% if (lan == 'eng') { %>Disease<% } else { %>疾病<% } %> OMIM:<%-diseaseID%></p>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index"><% if (lan == 'eng') { %>Home page<% } else { %>返回首页<% } %></a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<DIV id="network-data" style="display: none;"></DIV>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="picDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <% if (lan == 'eng') { %>Phenotype relation diagram<% } else { %>症状关系图<% } %>
                </h4>
            </div>
            <div class="modal-body">
                <DIV id="cy"></DIV>
                <DIV id="network-image-form">
                    <FORM id="networkImageForm" action="http://thebiogrid.org/scripts/downloadNetworkImage.php"
                          method="POST"><INPUT name="networkImage" id="networkImage" type="hidden">
                    </FORM>
                </DIV>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="container">
    <div class="home-page main">
        <script>
            var eng = '<%-lan%>' == 'eng' ? 1 : 0;
            //取URL参数的辅助函数
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)", "g"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                r[0] = decodeURIComponent(r[0]);
                for (var i = 1;i< r.length;i++){
                    r[i] = r[i].substr(1);//去除&
                    r[i] = decodeURIComponent(r[i]);//URI解码（16进制序列转为实际字符）
                }
                return r;
            }

            $(document).ready(function() {
                //注册模态框打开和关闭事件
                $('#myModal').on('shown.bs.modal', buildCY).on('hide.bs.modal', function(){
                    $('.qtip-pos-bl').remove();
                });

                var params = '';
                var hpo = $.parseJSON('<%-searched%>');
                for (var i = 0;i < hpo.length;i++){
                    params += hpo[i] + '|';
                }

                //获取疾病数据以及症状联系
                var url = "/api/DiseaseInfo";
                var disID = '<%-diseaseID%>';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data:{hpo:params,disID:disID},
                    success: function (data) {
                        var raw = data;
                        buildRelation(raw.Relations, raw.Remains);
                        buildDetail(raw.Name, raw.Description, raw.Genes);
                    },
                    error: function () {
                        //$diseaseList.html('<a href="/index">网络连接异常，点击返回搜索页</a>');
                    }
                });

            })
        </script>
        <div class="row row-disease">
            <div class="col-md-6">
                <script>
                    var matchedPheno = [];
                    //构造症状关系表
                    function buildRelation(relation, remain){
                        var $table = $('#tableBody');
                        relation = relation.sort(function(a,b) {
                            return b.similarity - a.similarity;
                        });
                        for (var i = 0;i < relation.length;i++){
                            matchedPheno[i] = [ relation[i].TID, relation[i].SID ];
                            var html = '<tr role="row" class="color-palette">';
                            html += '<td>'+ relation[i].source+'</td>';
                            html += '<td>'+ relation[i].target+'</td>';
                            html += '<td><a href="javascript:void(0);" onclick="buildNetwork('+i+')">'+ (relation[i].similarity * 100).toFixed(2) + '%</a></td>';
                            html += '</tr>';
                            var $newRow = $(html);
                            $table.append($newRow);
                        }
                        $('#table-phenotype').show();
                        //列出未匹配的症状
                        $('#table-tip').html(eng == 1 ? 'Other phenotypes of this disease: ' : '该疾病的其他症状：');
                        var remainHtml = '';
                        for (i = 0;i < remain.length;i++){
                            remainHtml += '<span class="badge badge-phenotype">'+remain[i].phenotype+'</span>&nbsp;';
                        }
                        $('#symptoms-other').html(remainHtml);
                    }
                </script>
                <table id="table-phenotype" class="table table-bordered table-striped dataTable" role="grid" hidden>
                    <thead>
                    <tr role="row">
                        <th title="<% if (lan == 'eng') { %>The phenotype you searched<% } else { %>您搜索的症状<% } %>" class="col-md-4">
                            <% if (lan == 'eng') { %>Seached phenotype<% } else { %>搜索症状<% } %>
                        </th>
                        <th title="<% if (lan == 'eng') { %>The phenotype of this disease<% } else { %>本疾病的症状<% } %>" class="col-md-4">
                            <% if (lan == 'eng') { %>Disease phenotype<% } else { %>疾病症状<% } %>
                        </th>
                        <th title="<% if (lan == 'eng') { %>Similarity between disease phenotype and searched phenotype<% } else { %>疾病症状与搜索症状之间的相似度<% } %>" class="col-md-4">
                            <% if (lan == 'eng') { %>Similarity<% } else { %>相似度<% } %>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
                <label id="table-tip">
                    <% if (lan == 'eng') { %>Loading disease data, please wait...<% } else { %>疾病信息加载中，请稍候……<% } %>
                </label>
                <div id="symptoms-other">
                </div>
                <script>
                    //获取网络图片所需数据并显示弹窗
                    function buildNetwork(index){
                        var shpo = matchedPheno[index][0];
                        var thpo = matchedPheno[index][1];
                        var url = "/api/Network";
                        $.ajax({
                            url : url,
                            data: {shpo:shpo,thpo:thpo},
                            type: 'GET',
                            dataType: 'text',
                            success: function( msg ) {
                                $('#network-data').html( msg );
                                $('#myModal').modal('show');
                            },
                            error: function() {
                                alert("网络连接异常");
                            }
                        })
                    }
                </script>
            </div>
            <!--病例信息-->
            <script>
                function buildDetail(name, description, genes) {
                    var $title = $('<div class="detail-title">'+name+'</div>');
                    var $description = $('<div class="detail-description">'+description+'</div>');
                    var $genes = $('<div class="detail-genes"></div>');
                    if (genes.length > 0) {
                        var geneHTML = '<b>Gene(cytoband): </b>';
                        for (var i = 0; i < genes.length; i++) {
                            geneHTML += '<a target="_blank" href="/gene/'+genes[i].gene+'">' + genes[i].gene + '(' + genes[i].cytoband + '); </a>';
                        }
                        $genes.html(geneHTML);
                    }
                    var $block = $('#description-block');
                    $block.append($title);
                    $block.append($description);
                    $block.append($genes);
                }
            </script>
            <div id="description-block" class="col-md-6">

            </div>
        </div>
        <!--cytoscape JS-->
        <script src="<%=static_dir%>/js/cytoscape/arbor.js"></script>
        <script src="<%=static_dir%>/js/cytoscape/cytoscape-arbor.js"></script>
        <script src="<%=static_dir%>/js/cytoscape/cxtmenu.js"></script>
        <script src="<%=static_dir%>/js/cytoscape/panzoom.js"></script>
        <script src="<%=static_dir%>/js/cytoscape/network-onload-2.js"></script>
    </div>
</div>
<% include ./footer.ejs %>