<% include header2.ejs %>
<!--病例详情页-->
<script>
    $(document).ready(function() {
        //获取病例数据
        var param = '?eng='+eng+'&HPO='+'<%-aCase.Phenotype%>'.replace(/;/g, ',')
        $.ajax({
            url: 'http://202.121.178.141/cgi-bin/MDPA/HPOName.cgi'+param,
            success: function (data) {
                $('#para-phenotype').html('症状：'+data);
            }
        })
    })
</script>
<p>Patient_Id: <%-aCase.id %></p>
<p>来源: <%-aCase.CaseOrigin %></p>
<p>姓名: <%-aCase.PatientName %></p>
<p>性别: <%-aCase.Sex %></p>
<p>年龄: <%-aCase.Age %></p>
<p id="para-phenotype">症状: <%-aCase.Phenotype %></p>
<p>相关疾病：<%-aCase.Disease%></p>
<p>备注：<%-aCase.Comment%></p>
<p>所有者: <%-aCase.Owner %></p>
<% if (aCase.Picture && aCase.Picture != '') { %>
<p>图片（<%-aCase.PictureTag%>）：</p>
<img src="/case_picture/<%-aCase.Picture%>" alt="图片无法显示">
<% } %>
<br/>
<br/>
<div class="row">
    <% if (caseChroms && caseChroms.length > 0) { %>
    <b><%-lan=='eng'? 'Chromosome variation' : '染色体变异'%>:</b>
    <table class="table table-bordered table-striped dataTable" role="grid">
        <thead>
        <tr role="row">
            <th class="col-md-4">
                <% if (lan == 'eng') { %>Patient<% } else { %>病患<% } %>
            </th>
            <th class="col-md-4" title="<% if (lan == 'eng') { %>Chromosome Location<% } else { %>染色体位置<% } %>">
                <% if (lan == 'eng') { %>Location<% } else { %>位置<% } %>
            </th>
            <th class="col-md-4" title="<% if (lan == 'eng') { %>Type<% } else { %>类型<% } %>">
                <% if (lan == 'eng') { %>Type<% } else { %>类型<% } %>
            </th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0;i < caseChroms.length;i++) {%>
        <tr role="row" class="color-palette">
            <td><%-caseChroms[i].Patient%></td>
            <td><%-caseChroms[i].Chrom + caseChroms[i].Arm + caseChroms[i].Pos%></td>
            <td><%-lan=='eng'?caseChroms[i].Type:(caseChroms[i].Type=="gain"?"插入":"缺失")%></td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>

    <% if (caseGenes && caseGenes.length > 0) { %>
    <b><%-lan=='eng'? 'Gene variation' : '基因变异'%>:</b>
    <table class="table table-bordered table-striped dataTable" role="grid">
        <thead>
        <tr role="row">
            <th class="col-md-6">
                <% if (lan == 'eng') { %>Patient<% } else { %>病患<% } %>
            </th>
            <th class="col-md-6">
                <% if (lan == 'eng') { %>Name<% } else { %>基因名<% } %>
            </th>
        </tr>
        </thead>
        <tbody>
        <% for (i = 0;i < caseGenes.length;i++) {%>
        <tr role="row" class="color-palette">
            <td><%-caseGenes[i].Patient%></td>
            <td><%-caseGenes[i].Gene%></td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>
</div>

<% include footer2.ejs %>